.header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.button_container {
  width: 100%;
  text-align: center;
  margin-left: -15%;
}

.button {
  padding: 0.5em 1em;
  font-size: 1.2vw;
  border-radius: 20px;
}

.button:active {
  transform: scale(0.9);
}
